.abouut{
    margin-left: 10px;
    margin-top: -90px;
    font-family:"Times New Roman";
    font-weight: bold;
    font-stretch: expanded;
    font-variant-caps: titling-caps;
    font-size: 17px;
}
