body{  
        width:auto;
        background:url('50-Beautiful-and-Minimalist-Presentation-Backgrounds-040.jpg');
        background-color:ghostwhite;
        background-repeat: repeat;
        background-position: top;
        height: auto;
}
#fform{
    margin-top: 100px;
    border: 1.8px;
    border-style: groove;
    border-color: black;
    border-radius:20px; 
}
input:hover{
    background-color: burlywood;
}
.navbar-brand:hover{
    transform: scale(1.25,1.25);
}
.navbar-brand{
    font-weight: bolder;
}
.navbar-brand:hover{
    animation: myRotate 0.5s;
}
li{
    font-weight: bolder;
    font-variant: small-caps;
}
#logo{
    float: right;
    margin-top: -95px;
    margin-left: 1000px;
    margin-bottom: -100000.7px;
    position: relative;
    animation: myrotate 10s infinite;
}

@media only screen and (max-width: 900px) {
  #logo {
    height: 20px;
    width: 70px;
    margin-right: 110px;
  }
}
footer{
    margin-top: 120px;
    background-color: black;
    color: white;
    text-align: right;
    padding-right:20px;
    /* padding-top: 100px; */
    box-shadow:10px 10px 5px #8e8888;

}
.ftr p{
    text-align: left;
    float: left;
}
footer:hover{
    animation: fadeout 3s;
}

#Message{
    height: 100px;
}



@keyframes fadeIn{from {opacity: 0;} to{opacity: 1;}}
@-webkit-keyframes fadeIn{from {opacity: 0;} to{opacity: 1;}}
@-moz-keyframes fadeIn{from {opacity: 0;} to{opacity: 1;}}

.fadein{
    opacity: 0;
    animation: fadeIn ease-in 1;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    
}
@keyframes fadeOut{from {opacity: 1;} to{opacity: 0;}}
@-webkit-keyframes fadeOut{from {opacity: 1;} to{opacity: 0;}}
@-moz-keyframes fadeOut{from {opacity: 1;} to{opacity: 0;}}

.fadeout{
    opacity: 1;
     animation: fadeOut ease-in 1;
    -webkit-animation: fadeOut ease-in 1;
    -moz-animation: fadeOut ease-in 1;
    
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}
.myfadeout:hover{
    opacity: 1;
     animation: fadeOut ease-in 1;
    -webkit-animation: fadeOut ease-in 1;
    -moz-animation: fadeOut ease-in 1;
    
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}

li:hover{
        animation: myRotate 0.5s;
}
@keyframes fadeIn{from {opacity: 0;} to{opacity: 1;}}
@-webkit-keyframes fadeIn{from {opacity: 0;} to{opacity: 1;}}
@-moz-keyframes fadeIn{from {opacity: 0;} to{opacity: 1;}}

.fadein{
    opacity: 0;
    animation: fadeIn ease-in 1;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    
}
@keyframes fadeOut{from {opacity: 1;} to{opacity: 0;}}
@-webkit-keyframes fadeOut{from {opacity: 1;} to{opacity: 0;}}
@-moz-keyframes fadeOut{from {opacity: 1;} to{opacity: 0;}}

.fadeout{
    opacity: 1;
     animation: fadeOut ease-in 1;
    -webkit-animation: fadeOut ease-in 1;
    -moz-animation: fadeOut ease-in 1;
    
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}
.myfadeout:hover{
    opacity: 1;
     animation: fadeOut ease-in 1;
    -webkit-animation: fadeOut ease-in 1;
    -moz-animation: fadeOut ease-in 1;
    
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}



/*Rotate*/
@keyframes myRotate{
    0% {transform: rotate(0deg);}
    10%{transform: rotate(36deg);}
    20%{transform: rotate(72deg);}
    30%{transform: rotate(108deg);}
    40%{transform: rotate(144deg);}
    50%{transform: rotate(180deg);}
    60%{transform: rotate(216deg);}
    70%{transform: rotate(252deg);}
    80%{transform: rotate(288deg);}
    90%{transform: rotate(324deg);}
    100%{transform: rotate(360deg);}
}
@-webkit-keyframes myRotate{
    0% {transform: rotate(0deg);}
    10%{transform: rotate(36deg);}
    20%{transform: rotate(72deg);}
    30%{transform: rotate(108deg);}
    40%{transform: rotate(144deg);}
    50%{transform: rotate(180deg);}
    60%{transform: rotate(216deg);}
    70%{transform: rotate(252deg);}
    80%{transform: rotate(288deg);}
    90%{transform: rotate(324deg);}
    100%{transform: rotate(360deg);}
}
@-moz-keyframes myRotate{
    0% {transform: rotate(0deg);}
    10%{transform: rotate(36deg);}
    20%{transform: rotate(72deg);}
    30%{transform: rotate(108deg);}
    40%{transform: rotate(144deg);}
    50%{transform: rotate(180deg);}
    60%{transform: rotate(216deg);}
    70%{transform: rotate(252deg);}
    80%{transform: rotate(288deg);}
    90%{transform: rotate(324deg);}
    100%{transform: rotate(360deg);}
}

/*Move*/
@keyframes myMove{
    0% {left: 0px;}
    25% {left: 225px;}
    50% {left: 350px;}
    75% {left: 225px;}
    100% {left: 0px;}
}
@-webkit-keyframes myMove{
    0% {left: 0px;}
    25% {left: 225px;}
    50% {left: 450px;}
    75% {left: 225px;}
    100% {left: 0px;}
}
@-moz-keyframes myMove{
    0% {left: 0px;}
    25% {left: 225px;}
    50% {left: 450px;}
    75% {left: 225px;}
    100% {left: 0px;}
}

@keyframes myMover{
    0% {left: 0px;}
    25% {left: 225px;}
    50% {left: 350px;}
    75% {left: 225px;}
    85% {left: -91px}
    100% {left: 0px;}
}
@-webkit-keyframes myMover{
    0% {left: 0px;}
    25% {left: 225px;}
    50% {left: 450px;}
    75% {left: 225px;}
    100% {left: -91px;}
}
@-moz-keyframes myMover{
    0% {left: 0px;}
    25% {left: 225px;}
    50% {left: 450px;}
    75% {left: 225px;}
    100% {left: -91px;}
}


/*@keyframes myrotate{
    0% {transform: rotate(0deg);}
    25%{transform: rotate(180deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(-180deg);}
    100%{transform: rotate(0deg);}  */

@keyframes myrotate{
    50%{transform: rotate3d(8,5,7,45deg);}
    50%{transform: rotate3d(4,7,3,-25deg);}

}